# Exercises I

1. Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)
2. cd into your exercises folder for this module and run echo env.py >> .gitignore
3. Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
4. Use your function to obtain a connection to the employees database.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [ ]:
sql = """
    SELECT * from departments
"""

In [ ]:
# Called the "Connection String" because it has all the info to connect
url = get_db_url('employees')

In [ ]:
df = pd.read_sql(sql, url)
df.head()

5. Once you have successfully run a query: a. Intentionally make a typo in the database url. What kind of error message do you see? b. Intentionally make an error in your SQL query. What does the error message look like?

In [ ]:
# access denied

6. Read the employees and titles tables into two separate DataFrames.

In [ ]:
sql_emp = """
    SELECT * from employees
"""

In [ ]:
df_emp = pd.read_sql(sql_emp, url)
df_emp.head()

In [ ]:
sql_titles = """
    SELECT * from titles
"""

In [ ]:
df_titles = pd.read_sql(sql_titles, url)
df_titles.head()

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [ ]:
df_emp.shape

In [ ]:
df_titles.shape

8. Display the summary statistics for each DataFrame.

In [ ]:
df_emp.describe()

In [ ]:
df_emp.info()

In [ ]:
df_titles.describe()

In [ ]:
df_titles.info()

9. How many unique titles are in the titles DataFrame?

In [ ]:
len(df_titles.title.unique())

10. What is the oldest date in the to_date column?

In [ ]:
df_titles.head()

In [ ]:
pd.to_datetime(df_titles['to_date'])

11. What is the most recent date in the to_date column?

# Exercises II

## 1. Copy the users and roles DataFrames from the examples above.

In [ ]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

In [ ]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

## 2. What is the result of using a right join on the DataFrames?

In [ ]:
users.merge(roles, left_on='id', right_on='id', how='right')

## 3. What is the result of using an outer join on the DataFrames?

In [ ]:
users.merge(roles, left_on='id', right_on='id', how='outer')

## 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
users = users.drop(columns='id')
roles = roles.drop(columns='id')

In [ ]:
users

In [ ]:
roles

In [ ]:
users.merge(roles, left_on='name', right_on='name')

## 5. Load the mpg dataset from PyDataset.

In [ ]:
from pydataset import data

## 6. Output and read the documentation for the mpg dataset.

In [ ]:
mpg = data('mpg')
mpg

In [ ]:
data('mpg',show_doc=True)

## 7. How many rows and columns are in the dataset?

In [ ]:
mpg.shape

## 8. Check out your column names and perform any cleanup you may want on them.

In [ ]:
mpg.columns

In [ ]:
mpg = mpg.rename(columns=
          {'cty':'city',
          'hwy':'highway'})
mpg

## 9. Display the summary statistics for the dataset.

In [ ]:
mpg.describe()

In [ ]:
mpg.info()

## 10. How many different manufacturers are there?

In [ ]:
len(mpg.manufacturer.unique())

## 11. How many different models are there?

In [ ]:
len(mpg.model.unique())

In [ ]:
len(mpg.model.value_counts())

## 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [ ]:
mileage_difference = mpg.highway - mpg.city
mileage_difference

In [ ]:
mpg['mileage_difference'] = mileage_difference
mpg

## 13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [ ]:
average_mileage = mpg[['city','highway']].mean(axis=1)
average_mileage

In [ ]:
mpg['average_mileage'] = average_mileage
mpg

## 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [ ]:
is_automatic = mpg.trans.str.contains('auto')
is_automatic

In [ ]:
mpg['is_automatic'] = is_automatic
mpg

## 15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [ ]:
mpg[mpg.average_mileage == mpg.average_mileage.max()]

## 16. Do automatic or manual cars have better miles per gallon

In [ ]:
mpg_auto = mpg[mpg.trans.str.contains('auto')]
mpg_auto

In [ ]:
mpg_auto.average_mileage.mean()

In [ ]:
mpg_manual = mpg[mpg.trans.str.contains('manual')]
mpg_manual

In [ ]:
mpg_manual.average_mileage.mean()

In [ ]:
# Exercise III

In [ ]:
chipotle = data('chipotle')
chipotle

## 1. Use your get_db_url function to help you explore the data from the chipotle database.

In [ ]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [ ]:
sql = """
    SELECT * from orders
"""

In [ ]:
url = get_db_url('chipotle')

In [ ]:
df = pd.read_sql(sql, url)
df.head()

## 2. What is the total price for each order?

In [ ]:
df['item_price'] = df.item_price.str.replace('$','').astype('float')
df

In [ ]:
df.info()

In [ ]:
df.groupby('order_id').item_price.sum()

## 3. What are the most popular 3 items?

In [ ]:
df.head()

In [ ]:
df.groupby('item_name').quantity.sum().nlargest(3)

## 4. Which item has produced the most revenue?

In [ ]:
df.groupby('item_name').item_price.agg('sum').sort_values(ascending=False)

In [ ]:
df.groupby('item_name').item_price.sum().nlargest(1)

## 5. Join the employees and titles DataFrames together.

In [ ]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [ ]:
url = get_db_url('employees')

In [ ]:
sql = """
    SELECT * from employees
"""

In [ ]:
df_employees = pd.read_sql(sql, url)
df_employees.head()

In [ ]:
sql = """
    SELECT * from titles
"""

In [ ]:
df_titles = pd.read_sql(sql, url)
df_titles.head()

In [ ]:
df_emp_titles = df_employees.merge(df_titles, left_on='emp_no', right_on='emp_no')
df_emp_titles

## 6. For each title, find the hire date of the employee that was hired most recently with that title?

In [ ]:
df_emp_titles.info()

In [ ]:
df_emp_titles.hire_date = pd.to_datetime(df_emp_titles.hire_date)

In [ ]:
df_emp_titles.info()

In [ ]:
df_emp_titles.groupby('title').hire_date.nlargest(1)

In [ ]:
df_emp_titles.groupby('title').hire_date.max()

## 7. Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)

In [ ]:
url = get_db_url('employees')

In [ ]:
sql = """
    SELECT * from departments
"""

In [ ]:
df_departments = pd.read_sql(sql, url)
df_departments.head()

In [ ]:
sql = """
    SELECT * from dept_emp
"""

In [ ]:
df_dept_emp = pd.read_sql(sql, url)
df_dept_emp.head()

In [ ]:
df_emp_titles

In [ ]:
df_e_t_de = df_emp_titles.merge(df_dept_emp, left_on='emp_no', right_on='emp_no')
df_e_t_de

In [ ]:
df_all = df_e_t_de.merge(df_departments, left_on='dept_no', right_on='dept_no')
df_all.head()

In [ ]:
df_all_tab = pd.crosstab(df_all.dept_name, df_all.title, margins=True).T
df_all_tab

In [ ]:
df_all.groupby('dept_name').title.count()