Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


   
Use Series attributes and methods to explore your fruits Series.






.

In [1]:
import pandas as pd

In [3]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [39]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [40]:
fruits.dtype

dtype('O')

1. Determine the number of elements in fruits.

In [16]:
fruits.count()

17

2. Output only the index from fruits.

In [17]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

3. Output only the values from fruits.

In [18]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

4. Confirm the data type of the values in fruits

In [19]:
fruits.dtype

dtype('O')

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [21]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [22]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [23]:
fruits.sample(2)

16    papaya
11      kiwi
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [24]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [25]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

8. Determine how many times each unique string value occurs in fruits.

In [29]:
fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
honeycrisp apple    1
watermelon          1
honeydew            1
pineapple           1
gala apple          1
blueberry           1
papaya              1
strawberry          1
blackberry          1
tomato              1
dtype: int64

9. Determine the string value that occurs most frequently in fruits.

In [34]:
fruits_count = fruits.value_counts()
fruits_count

kiwi                4
mango               2
gooseberry          1
honeycrisp apple    1
watermelon          1
honeydew            1
pineapple           1
gala apple          1
blueberry           1
papaya              1
strawberry          1
blackberry          1
tomato              1
dtype: int64

In [38]:
fruits_count.nlargest(n=1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [44]:
fruits_count.nsmallest(n=1, keep = 'all')

gooseberry          1
honeycrisp apple    1
watermelon          1
honeydew            1
pineapple           1
gala apple          1
blueberry           1
papaya              1
strawberry          1
blackberry          1
tomato              1
dtype: int64

Exercises Part II
Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

In [42]:
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [45]:
fruits.str.count('s').sum()

3

3. Output the number of vowels in each and every string value.

In [46]:
vowels = list('aeiou')
vowels

['a', 'e', 'i', 'o', 'u']

In [138]:
def is_vowel():
    for word in fruits:
        for char in word:
            vowel_count = 0
            if char in vowels:
                vowel_count =+ 1

In [134]:
fruits.str.split().str.contains(vowels)

TypeError: unhashable type: 'list'

4. Write the code to get the longest string value from fruits.

In [116]:
largest_string = fruits.str.replace(' ','').str.len().nlargest(n = 1, keep = 'all')
largest_string

5    15
dtype: int64

5. Write the code to get the string values with 5 or more letters in the name.

In [115]:
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [121]:
fruits.apply([lambda row:row char for char in fruits if char == 'o'])

SyntaxError: invalid syntax (<ipython-input-121-d57da9d5e094>, line 1)

7. Write the code to get only the string values containing the substring "berry".

In [124]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [125]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [127]:
fruits.isin(vowels)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

# Exercises Part III

In [159]:
letters = list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')

In [161]:
letters = pd.Series(letters)

In [162]:
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

## Part 1

1. Which letter occurs the most frequently in the letters Series?

In [171]:
letters.value_counts().idxmin()

'l'

2. Which letter occurs the Least frequently?

In [178]:
letters_counts = letters.value_counts()
letters_counts

y    13
p    12
w    10
b     9
k     9
n     9
m     9
h     8
x     8
c     8
r     8
o     8
d     8
q     8
a     8
u     7
v     7
z     7
t     7
f     6
e     6
j     6
g     5
i     5
s     5
l     4
dtype: int64

3. How many vowels are in the Series?

In [175]:
vowels = list('aeiou')

In [180]:
pd.cut(letters_counts, vowels)

ValueError: could not convert string to float: 'a'

In [ ]:
def is_vowel(string):
    return len(char for char in string if char in vowels)

4. How many consonants are in the Series?

5. Create a Series that has all of the same letters but uppercased.

6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.

## Part 2

1. What is the data type of the numbers Series?

2. How many elements are in the number Series?

3. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

4. Run the code to discover the maximum value from the Series.

5. Run the code to discover the minimum value from the Series.

6. What is the range of the values in the Series?

7. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

8. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

## Part 3

1. How many elements are in the exam_scores Series?

2. Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

3. Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

4. Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

5. Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

6. Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.