# Exercises I

1. Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)
2. cd into your exercises folder for this module and run echo env.py >> .gitignore
3. Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
4. Use your function to obtain a connection to the employees database.
5. Once you have successfully run a query: a. Intentionally make a typo in the database url. What kind of error message do you see? b. Intentionally make an error in your SQL query. What does the error message look like?
6. Read the employees and titles tables into two separate DataFrames.
7. How many rows and columns do you have in each DataFrame? Is that what you expected?
8. Display the summary statistics for each DataFrame.
9. How many unique titles are in the titles DataFrame?
10. What is the oldest date in the to_date column? 
11. What is the most recent date in the to_date column?

In [6]:
import pandas as pd
import numpy as np

In [7]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [8]:
sql = """
    SELECT * from departments
"""

In [9]:
# Called the "Connection String" because it has all the info to connect
url = get_db_url('employees')
url

'mysql+pymysql://hopper_1560:ZtQEG4UaEJjR8khD2h5h8A9OUwsMjMK0@157.230.209.171/employees'

In [10]:
df = pd.read_sql(sql, url)
df.head()

  dept_no         dept_name
0    d009  Customer Service
1    d005       Development
2    d002           Finance
3    d003   Human Resources
4    d001         Marketing

# Exercises II

1. Copy the users and roles DataFrames from the examples above.

In [11]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

In [12]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

2. What is the result of using a right join on the DataFrames?

In [22]:
users.merge(roles, left_on='id', right_on='id', how='right')

   id name_x  role_id     name_y
0   1    bob      1.0      admin
1   2    joe      2.0     author
2   3  sally      3.0   reviewer
3   4   adam      3.0  commenter

3. What is the result of using an outer join on the DataFrames?

In [25]:
users.merge(roles, left_on='id', right_on='id', how='outer')

   id name_x  role_id     name_y
0   1    bob      1.0      admin
1   2    joe      2.0     author
2   3  sally      3.0   reviewer
3   4   adam      3.0  commenter
4   5   jane      NaN        NaN
5   6   mike      NaN        NaN

4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [31]:
users = users.drop(columns='id')
roles = roles.drop(columns='id')

In [32]:
users

    name  role_id
0    bob      1.0
1    joe      2.0
2  sally      3.0
3   adam      3.0
4   jane      NaN
5   mike      NaN

In [33]:
roles

        name
0      admin
1     author
2   reviewer
3  commenter

In [34]:
users.merge(roles, left_on='name', right_on='name')

Empty DataFrame
Columns: [name, role_id]
Index: []

5. Load the mpg dataset from PyDataset.

In [47]:
from pydataset import data

6. Output and read the documentation for the mpg dataset.

In [49]:
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [50]:
data('mpg',show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

7. How many rows and columns are in the dataset?

In [51]:
mpg.shape

(234, 11)

8. Check out your column names and perform any cleanup you may want on them.

In [52]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [56]:
mpg = mpg.rename(columns=
          {'cty':'city',
          'hwy':'highway'})
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

9. Display the summary statistics for the dataset.

In [57]:
mpg.describe()

            displ         year         cyl        city     highway
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [58]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   city          234 non-null    int64
 8   highway       234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

10. How many different manufacturers are there?

In [68]:
len(mpg.manufacturer.unique())

15

11. How many different models are there?

In [72]:
len(mpg.model.unique())

38

12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [75]:
mileage_difference = mpg.highway - mpg.city
mileage_difference

1      11
2       8
3      11
4       9
5      10
       ..
230     9
231     8
232    10
233     8
234     9
Length: 234, dtype: int64

In [77]:
mpg['mileage_difference'] = mileage_difference
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [93]:
average_mileage = mpg[['city','highway']].mean(axis=1)
average_mileage

1      23.5
2      25.0
3      25.5
4      25.5
5      21.0
       ...
230    23.5
231    25.0
232    21.0
233    22.0
234    21.5
Length: 234, dtype: float64

In [94]:
mpg['average_mileage'] = average_mileage
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,is_automatic,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,True,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,False,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,False,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,True,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,True,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,True,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,False,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,True,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,False,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,True,21.5

14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [83]:
is_automatic = mpg.trans.str.contains('auto')
is_automatic

1       True
2      False
3      False
4       True
5       True
       ...
230     True
231    False
232     True
233    False
234     True
Name: trans, Length: 234, dtype: bool

In [95]:
mpg['is_automatic'] = is_automatic
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,is_automatic,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,True,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,False,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,False,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,True,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,True,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,True,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,False,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,True,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,False,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,True,21.5

15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [99]:
mpg[mpg.average_mileage == mpg.average_mileage.max()]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,is_automatic,average_mileage
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,False,39.5

16. Do automatic or manual cars have better miles per gallon

In [111]:
mpg_auto = mpg[mpg.trans.str.contains('auto')]
mpg_auto

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,is_automatic,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,True,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,True,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,True,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,True,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,True,20.5
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8,True,23.0
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,True,20.0
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8,True,21.0
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,9,True,19.5
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,8,True,21.0
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,7,True,19.5
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,True,17.0
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,4,True,13.0
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,True,17.0
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,4,True,15.0
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,5,True,14.5
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,8,True,19.0
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,10,True,20.0
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,5,True,16.5
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,3,True,12.5
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,4,True,13.0
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,3,True,15.5
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,8,True,23.0
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize,8,True,26.0
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,True,22.0
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11,True,23.5
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize,9,True,21.5
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,True,21.0
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,True,20.5
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,True,19.0
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,True,19.0
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,True,20.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,True,20.5
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,True,14.0
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,True,18.5
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,True,18.0
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,True,19.5
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,True,19.5
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,True,16.0
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,True,15.0
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,True,16.5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,True,16.5
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,True,10.5
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,True,13.0
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,True,15.0
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,True,15.0
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,True,10.5
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,True,15.0
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,True,13.5
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,True,15.5
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,True,13.0
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,True,10.5
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,True,15.0
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,True,15.0
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,True,13.0
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,True,15.0
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,True,13.0
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,6,True,14.0
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,True,14.0
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,True,15.0
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,True,15.5
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,True,15.5
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,True,16.0
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,True,16.0
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,True,15.0
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,3,True,15.5
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,3,True,14.5
88,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,4,True,15.0
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,4,True,13.0
90,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup,4,True,15.0
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,7,True,21.5
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,8,True,20.0
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,6,True,18.0
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7,True,18.5
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,True,28.0
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,True,28.0
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,11,True,30.5
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,True,30.0
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,8,True,22.0
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,9,True,25.5
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,8,True,22.0
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize,9,True,23.5
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,True,22.5
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,7,True,23.5
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact,7,True,20.5
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv,5,True,19.5
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv,4,True,17.0
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,5,True,17.5
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,3,True,15.5
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,True,10.5
128,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,5,True,16.5
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,True,15.5
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,3,True,12.5
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,4,True,13.0
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,6,True,15.0
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,6,True,15.0
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,4,True,13.0
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,True,14.0
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,5,True,13.5
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,True,15.0
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,True,15.5
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,True,16.0
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,True,16.0
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,True,15.0
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8,True,23.0
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize,8,True,27.0
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize,7,True,22.5
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,True,22.0
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize,6,True,22.0
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,3,True,15.5
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,6,True,17.0
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,6,True,15.0
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,True,22.0
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,10,True,21.0
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,10,True,22.0
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize,10,True,23.0
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize,9,True,20.5
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,6,True,21.0
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,6,True,23.0
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv,5,True,20.5
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,5,True,23.5
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,7,True,22.5
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5,True,22.5
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7,True,23.5
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,4,True,18.0
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,4,True,17.0
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,4,True,18.0
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,3,True,15.5
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,6,True,24.0
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,10,True,26.0
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,True,22.0
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize,9,True,23.5
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6,True,24.0
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9,True,26.5
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8,True,22.0
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9,True,22.5
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,True,27.0
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,True,28.5
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,True,30.5
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,4,True,13.0
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,5,True,15.5
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,4,True,18.0
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,4,True,17.0
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,4,True,18.0
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7,True,22.5
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,True,25.5
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7,True,22.5
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,True,25.5
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8,True,25.0
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,True,19.5
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,True,35.0
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,True,22.5
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,9,True,24.5
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11,True,23.5
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,True,23.5
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,True,21.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,True,21.5

In [114]:
mpg_auto.average_mileage.mean()

19.130573248407643

In [112]:
mpg_manual = mpg[mpg.trans.str.contains('manual')]
mpg_manual

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,is_automatic,average_mileage
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,False,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,False,25.5
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8,False,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8,False,22.0
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8,False,24.0
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8,False,21.0
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10,False,20.0
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,10,False,21.0
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,10,False,21.0
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,9,False,19.5
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,4,False,17.0
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,3,False,15.5
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,6,False,14.0
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,False,14.0
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,False,14.0
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,False,10.5
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,5,False,13.5
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,4,False,17.0
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,3,False,15.5
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,3,False,14.5
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact,8,False,22.0
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,9,False,21.5
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,7,False,18.5
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact,8,False,19.0
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact,6,False,17.0
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,5,False,30.5
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,7,False,28.5
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,6,False,26.0
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,8,False,30.0
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,8,False,25.0
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize,9,False,22.5
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize,10,False,26.0
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize,8,False,22.0
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,10,False,24.0
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact,8,False,24.0
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact,8,False,20.0
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact,7,False,20.5
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8,False,25.0
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize,9,False,27.5
146,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize,8,False,23.0
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize,6,False,22.0
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,2,False,16.0
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,7,False,21.5
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,7,False,23.5
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,6,False,22.0
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,7,False,22.5
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,7,False,22.5
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6,False,22.0
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7,False,23.5
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,5,False,17.5
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,2,False,16.0
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize,8,False,25.0
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize,10,False,26.0
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize,8,False,22.0
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8,False,25.0
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10,False,26.0
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8,False,22.0
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9,False,30.5
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9,False,32.5
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,5,False,17.5
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup,5,False,19.5
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup,2,False,16.0
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,3,False,16.5
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8,False,25.0
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8,False,25.0
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7,False,20.5
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,False,38.5
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8,False,25.0
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8,False,25.0
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8,False,25.0
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7,False,20.5
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,False,39.5
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,8,False,25.0
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,8,False,24.0
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,8,False,25.0
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,False,25.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,False,22.0

In [115]:
mpg_manual.average_mileage.mean()

22.227272727272727